{% extends 'base.html' %}

{% block main %}
    <br>
    <h1>Analytics Page</h1>

    <img style="width: 75%" src="/static/img/nb/district.png">
    <img style="width: 75%" src="/static/img/nb/bytime.png">
    <img style="width: 75%" src="/static/img/nb/byhour.png">
    <img style="width: 75%" src="/static/img/nb/bymonth.png">
    <img style="width: 75%" src="/static/img/nb/consequences.png">
    <img style="width: 75%" src="/static/img/nb/byyearseason.png">
    <img style="width: 75%" src="/static/img/nb/byfactor.png">
    <img style="width: 75%" src="/static/img/nb/corr.png">

    <h3>Hypothesis</h3>

{% endblock %}